
.navbar{
  background-color: #fff !important;
}

.navbar-brand{
  font-size: 1.2rem !important;
  color: #565387 !important;
}
.navbar a{
  font-size: 1.1rem;
  text-transform: capitalize;
}

.not-found{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}